/* reset code */
body{
        margin:0;
        padding:0;
        font-family: 'Open Sans', sans-serif;
}
ul{
        padding:0;
        list-style: none;
}
*{
        margin:0;
        padding:0;
        box-sizing: border-box;
}
.content-area{
        width:90%;
        max-width: 1170px;
        margin:0 auto;
}
.content{
        width:90%;
        margin: 0 auto;
}
/* Header CSS */
.header{}
.header-top{
        background:#000;
        color:#fff;
        font-size:14px;
}
.header-top-area{
        width:70%;
        max-width: 1170px;
        margin:0 auto;
}
.header-top-elements{
        display: flex;

}
.currency{
        width: 30%;
}
.currency p{
        padding:10px 15px;
}
.product-cart{
        width: 70%;
        text-align:right;
}
.product-cart ul{
        list-style: none;
        padding:0;
       
}
.product-cart ul li{
        display: inline-block;
        margin-right:5px;
      
}

.product-cart ul li a{
       text-decoration: none;
       display: inline-block;
       color:#fff;
       padding:10px 15px;
       transition: 0.3s;
}
.product-cart ul li a:hover{
        background: #00c8c8;
}

.product-cart ul li:last-child{
        margin-right:0;
        margin-left:25px;
}

.product-cart ul li i.icon-cart{
        margin-right:10px;
}

/* header Brand Css */
.header-brand{
        min-height: 44px;
        background: #fff;
}
.header-brand-elements{
        display: flex;
        align-items: center;
        padding:10px 0;
}
.logo{
        width: 30%;
}
.logo img{
        width: 200px;
}
.site-menu-search{
        width: 70%;
}
.menu-search-elements{
        display: flex;
        align-items: center;
        justify-content: flex-end;
}
.menu-search-elements ul.menu{
       
}

.menu-search-elements ul.menu > li{
        display: inline-block;
        position:relative;
        transition: 0.3s;
        
}
.menu-search-elements ul.menu li a i.menu-dropdown-icon{
        margin-left:4px;
}
.menu-search-elements ul.menu li  a{
        text-decoration: none;
        color:#000;       
        padding: 10px 15px;
        font-size: 14px;
        font-weight:bold;
}
.searchbar{
        position: relative;
}
.searchbar input{
        width:125px;
        padding:2px;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-left:35px;
}

.searchbar input:focus{
        border:1px solid #ccc !important;
}
.searchbar i.search-icon{
    font-size: 12px;
    position: absolute;
    right: 4px;
    top: 7px;
    color: #ccc;

}

/* Home banner */
.home-banner{
        background: url(images/firstslide.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        
}
.home-banner-elements{
        min-height:500px;
        position: relative;
}
.home-banner-elements a{
        display: inline-block;
        text-decoration: none;
        position: absolute;
        bottom:70px; 
        right:50px;
        color: #000;
        padding:12px 25px;
        border: 1px solid #ccc;
        transition: 0.3s;
}
.home-banner-elements a:hover{
        background: #00c8c8;
        color: #fff
}

/* Mega menu Desgin */
ul.menu li >.mega-menu{
        width: 300px;
        background:#fff;
        box-shadow: 1px 1px 9px #000;
        padding:25px; 
        position:absolute;
        top:50px;
        display:none;
        transition: 0.3s;
        z-index: 9999;
}
ul.menu .mega-menu .menu-categories{
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.menu-categories h4{
        margin-bottom:15px;
}

.menu-categories ul.mega-menu-ul li{
        margin-bottom:4px;
}

.menu-categories ul.mega-menu-ul li a{
        font-weight: normal;
        color:#727272;

}

.mega-menu .menu-ad{
        margin-top:50px;
        background: #333333;
        text-align: center;
        color:#fff;
        padding:25px 0;
}

/* showing mega menu */
ul.menu li:hover .mega-menu{
        display: block;
        top:30px;
       
}
ul.menu li:hover > a{
        color: #00c8c8;
}


/* product by categories section css */
.product-by-categories{
        padding: 50px 0;

}

.products-elements{
        padding: 25px 0;
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
}

/* cutomize tab based on my need */

.ui-tabs .ui-tabs-panel{
        padding:25px 0;
}

.ui-widget.ui-widget-content{
        border:none;
}
.ui-widget-header{
        background: #fff;
        border: none;
}

li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab{
        border:none;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
        background: #fff !important;
        color:#8e8e8e;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
}
.ui-tabs .ui-tabs-nav .ui-tabs-active.ui-state-active .ui-tabs-anchor{
        color:#00c8c8;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
        background: #fff;
}

/* end of customization of tabs */

/* css for tab products */
.full-tab-content{
        display: flex;
        align-items: center;
       
}

.full-tab-content .column-half img{
        width:100%;
        max-width:570px;
        height:auto;
}


.full-tab-content .column-half.left{
        margin-right:2%;
        width:50%;
}
.full-tab-content .column-half.right{
        width: 50%;
        
 }
.column-half.left .two-products{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
}

.column-half.left .two-products img{
        width:100%;
        max-width:260px;
        margin-right:3%
}

column-half.left .two-products img:last-child{
        margin-right:0;
}
.column-half.right .two-products img{
        max-width:260px;
        margin-right:3%
}

.column-half.right .two-products{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top:18px;
}